.maindiv {
    background-image: url('../../assets/mainImg2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 0;
    width: 100%;
}
.left-side {
    background-color: rgba(0, 0, 0, 0.7); /* Blackish shade */
    color: white; /* Text color */
    padding: 20px; /* Padding for some space */
  }


/* .mainBodyFirstRow{
    padding-bottom: 60px;
} */
.mainh1{
    color: #ffff;
    /* margin-left: 5vw; */
    margin-top: 13vh;
    font-size: 4vw;
    line-height: 9vh;
    }
    .p1div{
        margin-top: 20px;
    }
.maincomppara{
    color: #ffff;
    margin-left: 5vw;
    font-size: 20px;
    font-weight: 600;
}
#pp{
    color: #D4FF27;
    font-weight: 400;
    font-size: 28px;
}
.slider-btn-container{
    margin-top: 3rem;
    margin-left: 5vw;

}
.home-slide-btn{
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 38px;
    text-align: center;
    transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition for background and color */

}
.home-slide-btn:hover{
    background-color: #D4FF27;
    color: black;
}
/* .img3div{
    margin-top: 40px;
} */
.img3{
    width: 40vw;
    height: auto;
    margin-left: 5vw;
    /* padding-top: 20px; */
    margin-top: 10vh;
}
.uldiv{
    height: fit-content;
    background-color: #D4FF27;
    text-align: center;

}
.ul{
    margin-left: 4rem;
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 0;
    padding: 6px;
    
}
.lowerNavbar{
    background-color: #D4FF27;
    transition: bottom 0.5s;

}
.jumpSectionBtn{
    /* border: none; */
    background: #D4FF27;
  
}
.icon-black{
    color: black;
    font-size: 20px;
    font-weight: 800;
}
.carousel-fade .carousel-item {
    transition: opacity 2s ease-in-out; /* Adjust the transition duration here */
  }
  

  .sticky {
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 1000;
  }
  



 @media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
        /* padding: 10px; */
    }
    .maindiv{
        width: 100%;
        background-image: url('../../assets/mainImg.png');
        background-size: cover;
        background-position: center;
        height: 100vh;
        margin-top: 0;
        /* width: 100%; */
    }

    .maincomppara{
        margin-left: 8px;
        font-size: 16px;
    }
    #pp{
        font-size: 20px;
    }
    .navItemSmallDevices{
      padding: 6px 0;
    } 
    .lowerNavbar{
        position: sticky;
    }
    .container {
        display: flex;
        flex-direction: column; 
        width: 100%;
    }
  
    .header {
        text-align: center;
    }
  
    .nav {
        display: block; 
    }
  
    .main-content {
        margin: 0; 
    }
    
    .img-sm-fluid{
      width: 100%;
      height: auto;
    }
  /* mainpart */
  .img3{
    width: 80vw;
    margin-top: 8vh;
  }
  .mainh1{
    margin-top: 25vh;
    line-height: 6vh;
    font-size: 2rem;
  }
   /* for footer */
    .footer {
        text-align: center;
    }
    .verticle-line{
      display: none;
    }
    .footer-logos{
      padding: 0 15vw;
    }
    .footer-sm-row{
        width: 90%;
    }
    .sticky{
        top: 60px;
    }
  }
